@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.about-container {
    display: flex;
    flex-direction: row;
    /* Ensure that this is explicitly defined for larger screens */
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
}

.left-side,
.right-side {
    width: 45%;
    /* Original width for larger screens */
}

.guac-image {
    width: 100%;
    height: auto;
    /* Ensure the image scales correctly */
}

.with-background {
    background-color: #ffdd57;
    /* Example background color */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        /* Stack the image and text vertically */
        padding-top: 50px;
        /* Reduce the top padding */
        font-size: 24px;
        /* Adjust the font size for smaller screens */
    }

    .left-side,
    .right-side {
        width: 100%;
        /* Use full width for smaller devices */
    }

    /* Optionally, adjust the image size for smaller screens */
    .guac-image {
        max-width: 100%;
        /* Ensure the image is not too large */
        height: auto;
    }
}