@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.staking-services-section {
    display: flex;
    flex-direction: column;
    /* Change to column direction */
    background-color: #ffdd57;
    padding-top: 70px;
    /* Add padding on the top */
    padding-bottom: 20px;
    /* Add padding on the bottom */
    /* Optionally, you can add padding on the left and right sides */
    padding-left: 0;
    /* Adjust as needed */
    padding-right: 0;
    /* Adjust as needed */

}

.scrolling-services {
    padding: 20px;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
}

.section-wrapper {
    display: flex;
}

.node-section {
    width: 50%;
    padding: 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.image-section {
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.drinks-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .section-wrapper {
        flex-direction: column;
        /* Stack children vertically */
    }

    .node-section,
    .image-section {
        padding: 0 15px;
        /* Adjust padding for smaller screens */
    }

    .node-section {
        font-size: 24px;
        /* Adjust font size for readability on smaller screens */
        padding-left: 15px;
        /* Adjust padding to match the overall layout */
        padding-right: 15px;
        text-align: center;
        /* Center text for a better visual appearance on small screens */
    }

    .scrolling-services {
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        white-space: nowrap;
        animation: false;
        /* Optionally, stop the scrolling animation on small screens for better readability */
    }

    .drinks-image {
        width: auto;
        /* Adjust width to auto to maintain aspect ratio */
        max-height: 200px;
        /* Set a max height for the image */
    }
}