@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.staking-services-section {
    display: flex;
    flex-direction: column;
    /* Change to column direction */
    background-color: #ffdd57;
    padding-top: 70px;
    /* Add padding on the top */
    padding-bottom: 20px;
    /* Add padding on the bottom */
    /* Optionally, you can add padding on the left and right sides */
    padding-left: 0;
    /* Adjust as needed */
    padding-right: 0;
    /* Adjust as needed */

}

.scrolling-services {
    padding: 20px;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
}

.section-wrapper {
    display: flex;
}

.node-section {
    width: 50%;
    padding: 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* Center align text for all screen sizes by default */
}

.image-section {
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.drinks-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Override for larger screens if needed */
@media screen and (min-width: 769px) {
    .node-section {
        text-align: right;
        /* Only right-align text on screens larger than 768px */
    }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {


    .node-section {
        font-size: 24px;
        /* Adjust font size for readability */
        text-align: center;
        /* Adjust padding */
        /* text-align: center; is already set by default */
        padding-left: 1%;
    }

    .scrolling-services {
        font-size: 20px;
        /* Smaller font size for the scrolling text */
        animation: none;
        text-align: center;
        /* Stop the scrolling animation */
    }

    .drinks-image {
        max-height: 200px;
        /* Adjust the image's max height */
    }

}