.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Allow the navbar to wrap on small screens */
    margin-bottom: 0;
    padding: 20px 0;
    background-color: #ffdd57;
}

.navbar button {
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 2em;
    border: 2px solid;
    border-radius: 5px;
    background-color: #ffdd57;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.navbar button:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar button {
        margin: 5px;
        /* Reduce margin */
        padding: 10px 20px;
        /* Reduce padding */
        font-size: 1em;
        /* Reduce font size for better fit */
    }

    .navbar {
        flex-direction: column;
        /* Stack buttons vertically */
        padding: 10px 0;
        /* Reduce navbar padding */
    }
}