.wallet-connect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full screen height */
    background-color: #ffdd57;
}

/* tools.css */

.jucy {
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
}

.stake-accounts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Adjust based on your layout needs */
}

.logo-img {
    transform: scale(0.25);
    transform-origin: top left;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


.stake-button {
    background-color: black;
    height: 100px;
    color: white;
    font-size: 1.5rem;
    /* Adjust size as needed */
    /* Makes the button twice as high and 4 times as long */
    font-family: 'CoolFont', sans-serif;
    /* Replace 'CoolFont' with your actual font */
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    /* Space between this button and any other content */
}

/* tools.css */

.tools-page-container {
    /* Ensures the full page is a flex container, allows for overall layout control */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    /* Aligns items in a row at the top of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    /* Ensures padding doesn't add to the total width */
}

.stake-button {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 10px 40px;
    /* Adjust size as needed */
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    border: none;
    /* Additional styling for the button as needed */
}

.wallet-actions {
    /* Adjust as needed; already positioned to the right due to flexbox */
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adds some space between wallet button and disconnect button */
}

.disconnect-button {
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
}

td {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #333;
}

button {
    margin-right: 10px;
    background-color: black;
    color: white;
    /* Adjust size as needed */
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    border: none;
    /* Additional styling for the button as needed */

}

.stake-accounts-container button {
    background-color: black !important;
    color: white !important;
    /* Other styles */
}

/* Base styles here */

/* Responsive adjustments */
@media screen and (max-width: 768px) {

    .wallet-connect-container,
    .stake-accounts-container {
        flex-direction: column;
        justify-content: flex-start;
        /* Adjust as needed for mobile */
        padding: 20px;
        /* Add some padding on smaller screens */
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        /* Stack elements vertically */
    }

    .stake-button,
    .disconnect-button,
    table button {
        font-size: 1.2rem;
        /* Adjust font size for readability */
        padding: 15px 30px;
        /* Make buttons larger for easier tapping */
    }

    table {
        font-size: 0.8rem;
        /* Adjust table font size for mobile */
    }

    th,
    td {
        padding: 4px;
        /* Adjust table cell padding */
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers on mobile */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 4px solid black;
    }

    td {
        /* Make table cells look like rows */
        border: none;
        position: relative;
        text-align: center;

    }

    /* Label the data */
    td:before {
        /* Use the "data-label" attribute of the td to label the data */
        position: absolute;
        left: 6px;
        top: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Specific labels for each td based on its column */
    td.balance:before {
        content: "Balance";
    }

    td.validator-name:before {
        content: "Validator Name";
    }

    td.actions:before {
        content: "Actions";
    }
}